@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
}
:root {
  --MainBlack: #363732;
  --MainBlue: #66c3ff;
  --MainSky: #53d8fb;
  --MainPinkishWhite: #dce1e9;
  --Mainpink: #d4afb9;
}

button#login {
  transition: all 0.3s;
  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
}

#RightSection {
    transition: all 150ms;
}
/* @media screen and (width<800px) {
  #RightSection {
    transform: translateX(200%);
  }
  #LeftSection {
    transform: translateX(-200%);
  }
} */

#LeftSection {
}
