@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans';
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
}
:root {
  --MainBlack: 54, 55, 50;
  --MainBlue: 102, 195, 255;
  --MainSky: 83, 216, 251;
  --MainPinkishWhite: 220, 225, 233;
  --Mainpink: 212, 175, 185;
}


#RightSection {
    transition: all 150ms;
}
/* @media screen and (width<800px) {
  #RightSection {
    transform: translateX(200%);
  }
  #LeftSection {
    transform: translateX(-200%);
  }
} */

#LeftSection {
}
