@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
body{
    margin: 0;
    padding: 0; 
    
}
#root{
    display: flex;
}




button#login{
    transition: all 0.3s;
    &:hover{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
}